* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: violet;
    overflow-x: hidden;
}

.container {
    height: 475px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: .6rem;
    color: black;
    padding: 2rem;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.45), 0 -6px 15px rgba(255, 253, 253, 0.497);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 24px;
    text-align: center;
    opacity: .4;
    padding: 1rem;
}

.display {
    text-align: center;
    padding: 1.5rem;
    font-size: 24px;
    font-family: cursive;
}

.btn {
    padding: 2rem;
    background-color: darkviolet;
    color: white;
    border: none;
    border-radius: .6rem;
    width: 45vw;
    align-self: center;
    margin-top: 15px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.056), 0 -6px 15px rgba(0, 0, 0, 0.056);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(.96);
}

@media (max-width:450px) {

    .container {
        width: 85vw;
    }

}